<header>
    <div class="navbar"> 
        <div class="container">
            <a class="logo" href="#" routerLink="/"><span style="color:red">Child</span><span style="color:white">Impact</span><span style="color:blue" >Statements</span></a> 
            <nav>
                <ul class="primary-nav">
                    <li class="current"><a href="#" routerLink="/" ><span style="color:black">Home</span></a></li> 
                    <li><a href="https://data.memphistn.gov/dataset/Shelby-County-Zip-Codes/98jk-gvpk"><span style="color:black">Work Cited</span></a></li> 
                    <li class=><a href="#" routerLink="/zipcode" ><span style="color:black">Zipcode</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
  
<div class="container">
 <router-outlet></router-outlet>
</div>